
header {
    background-image: url("img/imagen1.png");
    background-size: cover;
    height: 600px;
    position: relative;
}
.logo{
    width: 100px;
}
#row-cursos img{
    border-radius: 50%;
}

.knowledge__picture{
    max-width: 500px;
}
.logo{
    width: 75px;
}

#row-cursos{
    background-color: #011308;
}

.row{
    margin: 0;
}

#row-cursos img{
    border-radius: 50%;
}

.section-image{
    background-color: black;
    width: 100%;
    height: 650px;
}

footer{
    background-color: #011308;   
    width: 100%;
    height: 280px; 
    
}
.title-footer h1{
    text-align: center;
    padding-top: 3rem;
}
#links-footer{
    margin-top: 7rem;
}

#links-footer p a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: auto;
    margin-left: 1rem;
}
#icon-footer >p{
    margin-left: 1rem;
    padding-left: 2rem;
}
.text-icon{
    margin-left: 550px;
    margin-right: 1em;
}